@using Microsoft.AspNetCore.Components.Authorization
@using AppointmentPlanner.Client.Pages.Auth

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.MainLayout)">
                <NotAuthorized>
                    @* Redirect unauthenticated users to login *@
                    <RedirectToLogin/>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">متأسفانه صفحه‌ای در این آدرس یافت نشد.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>